button {
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	padding: 1rem;
	border: 2px solid #fff;
	background: $color-primary;
	color: $color-white;
	display: flex;
	align-items: center;
	gap: 1.9rem;
	font-size: 1.3rem;
	border-radius: 0.5rem;
	font-family: $font-secondary;

	&:hover {
		color: #fff;
	}

	&__products {
		padding: 2rem 0;
		width: 100%;
		background: rgba(69, 22, 144, 0.15);
		transition: all 0.5s;

		&:hover {
			background: rgba(255, 255, 255, 0.64);
		}
	}
}

.btn-all {
	background-color: transparent;
	color: $color-primary;
	font-size: 1.2rem;
}

.btn-add {
	padding: 0.7rem 2.5rem;
	border: 2px solid #fff;
	background: $color-white;
	color: $color-primary;
	display: flex;
	align-items: center;
	gap: 1.9rem;
	font-size: 1.3rem;
	border-radius: 0.5rem;
	font-family: $font-secondary;
	position: absolute;
	right: 0;

	@media only screen and (max-width: $tab-land) {
		display: none;
	}
}
