.sidebar {
	height: auto;
	width: 6.8rem;
	background-color: $color-bg-dark;
	// border-radius: 1rem 0 0 1rem;
	position: relative;
	padding: 2rem 0;

	&__icon {
		background: white;
		height: 3.5rem;
		width: 3.5rem;
		border-radius: 50%;
		@include flex-center;

		.icon {
			height: 2.2rem;
			width: 2.2rem;
			fill: #5e00f5;
		}

		.icon-settings {
			fill: #333333;
		}
	}

	.active .sidebar__icon {
		background: #9b9bab !important;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 100%;
	}

	&__link {
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;

		.text {
			font-size: 1.2rem;
			font-weight: 400;
			color: $color-white;
		}
	}

	.btn-settings {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
